* {
  font-family: "Noto Serif JP", sans-serif;
}

/* Position */
.absolute {
  left: 0;
  position: absolute;
  top: 0;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

/* Width */
.fill-width{
  width: 100%;
}

/* Object Fit */
.object-contain {
  object-fit: contain;
}

/* Border Radius */
.circle {
  border-radius: 50%;
}

/* Nowrap */
.nowrap {
  white-space: nowrap;
}

/* Overflow */
.overflow-auto {
  overflow: auto;
}
